body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card.CharacterCard {
	padding-bottom: 10%;
}

.card-title {
	color: rgb(226, 226, 87);
	margin-top: 0%;
}

a {
	color: rgb(61, 165, 69);
}

.img-responsive {
	width: 100%;
	height: 100%;
}
